@page "/orders"
@inject IOrderService OrderService

<h3>Orders</h3>

@if (o == null)
{
    <span>Rendeléseid betöltése...</span>
}
@if (o.Count <= 0)
{
    <span>Jelenleg nincs rendelésed.</span>
}
else
{
    foreach (var order in o)
    {
        <div class="container">
            <div class="image-wrapper">
                <img src="@order.MealImageUrl" class="image" />
            </div>
            <div class="details">
                <h4>@order.Meal</h4>
                <span>@order.OrderDate</span><br />
                <a href="orders/@order.Id">Mutass többet...</a>
                <div class="order-price">@order.TotalPrice Ft.</div>
            </div>
        </div>
    }
}

@code {

    List<OrderOverviewResponseDTO> o = null;


    protected override async Task OnInitializedAsync() => o = await OrderService.GetOrders();

}
