@inject ICartService CartService
@inject ISyncLocalStorageService LocalStorage
@implements IDisposable

<a href="cart" class="btn btn-info d-flex justify-content-center align-items-center user-button" style="width: 60px; height: 50px;">
    <i class="oi oi-cart" ></i>
</a>

@code {
    List<CartMealResponseDTO> cartMeals = null;
    

    protected override void OnInitialized()
    {
        CartService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        CartService.OnChange -= StateHasChanged;
    }

   
   
}
