@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-2" style="display: flex; align-items: center; justify-content: space-between;">
            <div></div>
            <h1 style="font-size: 20px; font-weight: bold; color: red; margin: 0 auto;">Szikrából pattant</h1>
            <div style="display: flex;">
                <div style="margin-right: 0px;">
                    <UserButton />
                </div>
                <div>
                    <CartCounter />
                </div>
            </div>
        </div>
        <div class="nav-menu">
            <RestaurantNavMenu />
        </div>
        <article class="content px-2">
            @Body
        </article>
    </main>
</div>
